@font-face {
    font-family: 'Azoft Sans';
    src: url(assets/fonts/Azoft-Sans.otf) format("opentype");
}
@font-face {
    font-family: 'Azoft Sans-Italic';
    src: url(assets/fonts/Azoft-Sans-Italic.otf) format("opentype");
}
@font-face {
    font-family: 'Azoft Sans-Bold';
    src: url(assets/fonts/Azoft-Sans-Bold.otf) format("opentype");
}

@font-face {
    font-family: 'Azoft Sans-Bold Italic';
    src: url(assets/fonts/Azoft-Sans-Bold-Italic.otf) format("opentype");
}
