/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100% !important;
    background-color: #f5644b;
}

.scrollbar {
    &::-webkit-scrollbar, &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-track {
        background-color: transparent;
        width: 0;
    }
    overflow-y: scroll;

    .thumb-content:hover {
        cursor: pointer;
    }
}
.mat-checkbox-layout {
    margin: 0px!important;
    margin-bottom: 4px!important;
}
// .scrollbar {
//     &::-webkit-scrollbar-thumb {
//         background-color:transparent;
//     }

//     &::-webkit-scrollbar {
//         background-color:transparent;
//     }
//     &::-webkit-scrollbar-track {
//         background-color:transparent;
//     }
// }
// .scrollbar:hover {
//     &::-webkit-scrollbar-thumb {
//         border-radius: 5px;
//         -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
//         background-color: #e14b32;
//     }

//     &::-webkit-scrollbar {
//         width: 10px;
//         background-color: #f5644b;
//     }
//     &::-webkit-scrollbar-track {
//         border-radius: 5px;
//         background-color: #f5644b;
//     }
// }

.cursor-pointer {
    cursor: pointer;
}

.gallery-content {
    width: 980px;

    .gallery-list {
        height: calc(100% - 110px);
    }
}

.header-content {
    height: 108px;
    border-bottom: 1px solid #E14B32;

    .menu-content {
        ul {
            list-style: none;
            user-select: none;

            li {
                display: inline-block;
                color: #EBEBCD;
                font-family: 'Azoft Sans';
                font-style: normal;
                font-weight: bold;
                font-size: 13px;
                line-height: 13px;
                padding: 7px 16px;
                border: 1px solid #F5644B;
            }

            li:hover {
                border: 1px solid #EBEBCD;
                border-radius: 4px;
                cursor: pointer;
            }

            li.active {
                border: 1px solid #F5644B;
                border-radius: 4px;
                background-color: #EBEBCD;
                color: #F5644B;
            }

            li.active:hover {
                cursor: auto;
                border: 1px solid #F5644B;
            }
        }
    }
}

input.facem-input {
    background-color: #C83219;
    color: #EBEBCD;
    border: none;
    width: 320px;
    padding: 7px 16px;
    border-radius: 4px;
    height: 27px;
}
input.facem-input::placeholder {
    font-family: 'Azoft Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
    color: #F5644B;
}

input:focus {
    outline: none;
}

p.input-for {
    font-family: 'Azoft Sans';
    color: #C83219;
    font-weight: bold;
    font-size: 13px;
}

button.facem-buttom {
    padding: 0px 16px;
    border: none;
    position: absolute;
    width: 81px;
    height: 27px;
    background: #EBEBCD;
    border-radius: 4px;
    color: #C83219;
}
button.facem-buttom:focus {
    outline: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
